.all-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
  
.index-wrapper{
    margin-top: 20px;
}

.search-bar{
    margin-left: 11px;
}

@media (max-width: 1200px) {
    .all-recipes {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media (max-width: 768px) {
    .all-recipes {
      grid-template-columns: 1fr;
    }
  }