.Header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
  }
  
  .home-h1 {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .navigate-wrapper {
    display: flex;
    gap: 20px;
  }
  
  .navigate-wrapper h2 {
    font-size: 18px;
    color: green;
    cursor: pointer;
    margin: 0;
    transition: color 0.3s ease;
  }
  
  .navigate-wrapper h2:hover {
    color: white;
  }