.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  .landing-page-h1 {
    color: #e91e63;
    margin-top: 0;
    font-size: 3em;
  }
  
  .landing-page-wrapper h3 {
    color: #333;
    font-weight: normal;
    margin-top: 20px;
  }
  
  .landing-page-wrapper p {
    color: #666;
    max-width: 800px;
    margin-bottom: 1em;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .landing-page-to-recipes-button {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .landing-page-to-profile-button {
    background-color: #ff9800;
  }
  
  button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .landing-page-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
    opacity: 70%;
  }
  
  .landing-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    
  }
  .landing-info p{
    color: black;
  }